/* Evita que el modal se cierre al hacer click fuera del elemento */
/* <div class="modal fade" id="cargas_modal" data-backdrop="static"> */

div {
    /* Evita que las palabras se rompan en cualquier parte */
    white-space: normal;
    word-break: normal;

    /* Corta y muestra 3 puntos cuando la palabra sobrepasa el borde del contenedor*/
    text-overflow: ellipsis;
}

div {
    /* Previene que el contenido del div se corte entre saltos de pagina en un PDF */
    display: table;
}